<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>CSS</string>
		<key>file</key>
		<string>css</string>
		<key>extensions</key>
		<string>css</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HTML</string>
		<key>file</key>
		<string>html</string>
		<key>extensions</key>
		<string>html htm xhtml shtml shtm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>JavaScript</string>
		<key>file</key>
		<string>javascript</string>
		<key>extensions</key>
		<string>js</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MySQL</string>
		<key>file</key>
		<string>mysql</string>
		<key>extensions</key>
		<string>sql</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PHP</string>
		<key>file</key>
		<string>php</string>
		<key>extensions</key>
		<string>php php3 phtml phtm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RHTML</string>
		<key>file</key>
		<string>rhtml</string>
		<key>extensions</key>
		<string>rhtml</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ruby</string>
		<key>file</key>
		<string>ruby</string>
		<key>extensions</key>
		<string>rb</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SQL</string>
		<key>file</key>
		<string>sql</string>
		<key>extensions</key>
		<string>sql</string>
	</dict>
	<dict>
		<key>name</key>
		<string>XML</string>
		<key>file</key>
		<string>xml</string>
		<key>extensions</key>
		<string>xml dtd xsd xsl</string>
	</dict>
</array>
</plist>
